*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    max-width:100vw;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#df851e;
    font-weight:600;
}
.container{
    border:0.5px solid #ffffff;
    border-radius: 10px;
    padding:28px 32px;
    display:flex;
    flex-direction:column;
    background:linear-gradient(to bottom, #ffffff, #ffffff95);
    box-shadow:8px 8px 4px #6897d5;
}
.container h1{
    font-size:1.5rem;
    margin-block:8px;
}
.inputBox{
    position: relative;
}
.inputBox span{
    position: absolute;
    top:16px;
    right:6px;
    font-size:28px;
    cursor: pointer;
    z-index:2;/*z-index zyda hota hai toh vo upr ki trf show hota hai*/
}
.PassBox{
    background-color: #0732cc;
    border:none;
    outline:none;
    padding:10px;
    width:300px;
    font-size:20px;
    border-radius: 4px;
    color:#df851e;
    text-overflow:ellipsis;
    margin-block:8px;/*margin block is used to give margin in top and bottom and margin inline is used to give margin in left and right*/
}
.row{
    color:#df851e;
    display:flex;
    margin-block:8px;
}
.row p, .row label{
    flex-basis: 100%;/*it is used to give initial width*/
    font-size:18px;
}
.row input[type="checkbox"]{
    width:20px;
    height:20px;
}
.gnbtn{
    border:none;
    outline:none;
    background-color: #df851e;
    padding:12px 24px;
    color:#ffffff;
    font-size: 18px;
    margin-block:8px ;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;;
}
.gnbtn:hover{
    background-color: #a35a07;
}
